<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="form-container card-body shadow-lg px-5 pt-3 pb-5">
        <h2>Payment</h2>
        <br>
        <form [formGroup]="paymentForm" (submit)="onSubmit()">
          <div class="mb-3">
            <label for="username" class="form-label">Name</label>
            <input type="text" class="form-control" id="username" name="username" formControlName="name">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Phone Number</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="phoneNumber">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Email</label>
            <input type="email" class="form-control" id="password" name="password" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="payment-method" class="form-label">Payment Method</label>
            <select class="form-select" id="payment-method" name="payment-method" formControlName="paymentMethod" required>
              <option value="" disabled selected>Select a payment method</option>
              <option value="kpay">KPAY</option>
              <option value="wave">WAVE PAY</option>
              <option value="ayapay">AYA PAY</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
