<div class="container" style="max-width:400px">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center">Thanks for your purchase</h3>
      <h5 class="text-center">JCGV</h5>
      <h5 class="text-center">Junction City</h5>

    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          Movie Name
        </div>
        <div class="col-md-5">
         Ticket Number
        </div>
      </div>



      <div class="row">
          <div class="col-md-7">
            Last Christmas
          </div>
          <div class="col-md-5">
            005128
          </div>
      </div>

      <br>

      <div class="row">
          <div class="col-md-7">
            Date
          </div>
          <div class="col-md-5">
            Time
          </div>
      </div>

      <div class="row">
          <div class="col-md-7">
            17.6.2023
          </div>
          <div class="col-md-5">
            3pm
          </div>
      </div>

      <br>

      <div class="row">
          <div class="col-md-7">
            Seat Number
          </div>
          <div class="col-md-5">
              Cinema
          </div>

      </div>

      <div class="row">
          <div class="col-md-7" >
            H11,12
          </div>
          <div class="col-md-5">
             Theater 1
          </div>
      </div>

       <hr style="border: 1px solid black;" >

       <div class="row">
          <div class="col-md-7" >
           <h6>Total</h6>
          </div>
          <div class="col-md-5">
              12000
          </div>
      </div>


    </div>

  </div>
  <button  type="button"  class="btn btn-outline-primary mt-3">Save as PDF</button>

</div>

