<div class="container mt-5">
  <div class="row py-5">
    <div class="col">
      <h1>Cinema Details That include movie list</h1>
    </div>
  </div>
  <div class="row py-5">
    <div class="col">

    </div>
  </div>
  <div class="row py-5">
    <div class="col">

    </div>
  </div>
  <div class="row py-5">
    <div class="col">

    </div>
  </div>
  <div class="row py-5">
    <div class="col">

    </div>
  </div>
  <div class="row py-5">
    <div class="col">
      <a class="btn btn-outline-danger float-end" routerLink="/anonymous/cinemalist" routerLinkActive="acitve">Back</a>
    </div>
  </div>
</div>
