tbody td{
  padding: 15px 0px 15px 25px;
}

thead th{
  padding: 15px 0px 15px 25px;
}

#search{
  border: none;
  background-color: #F8F8FF;
  color: black;
  outline: none;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
}

ul li {
  list-style-type: none;
}
