<form class="mt-3 mx-5 my-3" [formGroup]="cinemaForm" (ngSubmit)="onSubmit()">

  <app-form-group [valid]="cinemaForm.get('cinemaname')!.valid" label="Cinema Name">
    <input type="text" class="form-control"  formControlName="cinemaname" >
  </app-form-group>


  <app-form-group [valid]="cinemaForm.get('location')!.valid" label="Location">
    <input type="text" class="form-control" id="location" formControlName="location" >
  </app-form-group>

<app-form-group [valid]="cinemaForm.get('phoneNo')!.valid" label="Phone Number">
  <input type="text" class="form-control" id="phoneNo" formControlName="phoneNo" >
</app-form-group>

  <app-form-group [valid]="cinemaForm.get('bmName')!.valid" label="Branch Manager Name">
    <input type="text" class="form-control" id="bmName" formControlName="bmName">
  </app-form-group>


 <app-form-group [valid]="cinemaForm.get('bmPassword')!.valid" label="Password">
  <input type="password" class="form-control" id="bmPassword" formControlName="bmPassword" autocomplete="off">
 </app-form-group>

  <button class="btn btn-outline-danger" mat-dialog-close="false">Cancel</button>
  <button type="submit" [class.disable]="!cinemaForm.valid" class="btn btn-outline-success float-end">{{data ? 'Update' : 'Save'}}  </button>
</form>
