<div class="row mt-3">
  <div class="col-md-4 offset-2">
    <div class="card shadow" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title text-uppercase text-danger"><i class="bi bi-camera-reels me-3"></i>Total Cinema </h5>
        <p class="fs-2">5</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card shadow" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title text-uppercase text-danger"><i class="bi bi-camera-reels me-3"></i>Total Branch Manager </h5>
        <p class="fs-2">5</p>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-5 ms-5">
    <h3>Cinema List</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Region</th>
          <th scope="col">Branch Manager</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <h3>Branch Manager List</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Password</th>
          <th scope="col">Cinema</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
