<div id="root">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-1 mt-5">
        <div class="d-flex justify-content-between mb-3">
          <h3 class="text-uppercase  fw-bold"><i class="bi bi-building-fill me-2"></i>companies</h3>
          <button class="btn btn-outline-primary btn-sm" (click)="openAddEditCMForm()"><i class="bi bi-plus"></i>Add Company</button>
        </div>
        <input type="text" id="search" class="mb-2  w-100" placeholder="Search Cinema" [(ngModel)]="enterSearchValue">
        <table class="table shadow-lg  table-hover">
          <thead class="table-primary">
            <tr>
              <th>#</th>
              <th>Company Name</th>
              <th>Email</th>
              <th>Phone No</th>
              <th>Account</th>
              <th>Password</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of companymanagerList">
            <tr *ngIf="enterSearchValue === '' || item.companyName.toLowerCase().includes(enterSearchValue) ">
              <td> {{ item.id}} </td>
              <td> {{ item.companyName }} </td>
              <td> {{item.email}} </td>
              <td> {{item.phoneNumber}} </td>
              <td> {{ item.username }} </td>
              <td> {{ item.password}} </td>
              <td><i class="bi bi-pencil-square me-3 text-info" (click)="openEditCMForm(item)"></i>
                <i class="bi bi-trash3-fill text-danger" (click)="deleteCompanyManager(item.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
        <!-- <div class="card shadow-lg">

          <div class="card-header d-flex justify-content-between">
            <h3>Company List</h3>
            <div class="btn btn-outline-primary" (click)="openAddEditCMForm()">Add Company</div>
          </div>

          <div class="card-body">
            <input type="text" class="my-2 shadow-sm" placeholder="Search Company Name" [(ngModel)]="enterSearchValue">


          </div>
        </div> -->
