<form class="mt-3 mx-5 my-3" [formGroup]="companymanager" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="conname" class="form-label">Company Name</label>
    <input type="text" class="form-control" id="conname" formControlName="companyName">
    <span
      *ngIf="companymanager.controls['companyName'].invalid && (companymanager.controls['companyName'].dirty || companymanager.controls['companyName'].touched)">
      <p class="text-danger" *ngIf="companymanager.controls['companyName'].errors?.['required']">
        Company Name Required!
      </p>
    </span>
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" formControlName="username">
    <span
      *ngIf="companymanager.controls['username'].invalid && (companymanager.controls['username'].dirty || companymanager.controls['username'].touched)">
      <p class="text-danger" *ngIf="companymanager.controls['username'].errors?.['required']">
        Username Required!
      </p>
    </span>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password" autocomplete="off">
    <span
      *ngIf="companymanager.controls['password'].invalid && (companymanager.controls['password'].dirty || companymanager.controls['password'].touched)">
      <span class="text-danger" *ngIf="companymanager.controls['password'].errors?.['required']">
        Password Required!
      </span>
    </span>
  </div>
  <button class="btn btn-outline-danger" mat-dialog-close="false">Cancel</button>
  <button type="submit" class="btn btn-outline-success float-end"> {{data ? 'Update' : 'Save'}} </button>
</form>
