<div class="container p-3">
  <h5 class="text-center mb-3">Add Company Form</h5>
  <form class="mt-3 mx-5 my-3" [formGroup]="companymanager" (ngSubmit)="onSubmit()">

    <div class="d-flex ">
      <app-form-group [valid]="companymanager.get('companyName')!.valid" label="Company Name" class="me-3">
        <input type="text" class="form-control" id="conname" formControlName="companyName">
      </app-form-group>

      <app-form-group [valid]="companymanager.get('email')!.valid" label="Email">
        <input type="text" class="form-control" id="email" formControlName="email">
      </app-form-group>
    </div>

    <div class="d-flex">
      <app-form-group [valid]="companymanager.get('phoneNumber')!.valid" label="Phone" class="me-3">
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
      </app-form-group>

      <app-form-group [valid]="companymanager.get('username')!.valid" label="UserName">
        <input type="text" class="form-control" id="username" formControlName="username">
      </app-form-group>
    </div>

    <app-form-group [valid]="companymanager.get('password')!.valid" label="Password">
      <input type="password" class="form-control" id="password" formControlName="password" autocomplete="off">
    </app-form-group>

    <div class="d-flex float-end mb-4">
      <button class="btn btn-outline-danger float-end me-3" mat-dialog-close="false">Cancel</button>
      <button type="submit" [class.disabled]="!companymanager.valid" class="btn btn-outline-success float-end"> {{data ? 'Update' : 'Save'}} </button>
    </div>
  </form>

</div>
