<div class="container ">
  <div class="row ">
    <div class="col-md-2 text-end">
      <img src="{{movieDetails?.poster}}" alt="">
    </div>
    <div class="col-md-10 ">
      <div class="d-flex justify-content-between">
        <h4 class=""> {{movieDetails?.title}} </h4>
        <a class="btn btn-outline-danger text-black float-end" routerLink="/anonymous/movielist"><i class="bi bi-arrow-left-circle text-danger"></i></a>
      </div>
      <p class="fw-bold text-danger">{{movieDetails?.type}}</p>
      <!-- array change -->
      <h5 class="fs-6"><i class="bi bi-people"></i>Casts</h5>
      <span class="me-2">Tom Holland |</span>
      <span  class="me-2">Zendya |</span>
      <span  class="me-2">Tobey Maguire |</span>
      <span  class="me-2">Andrew Garfield |</span>
      <div class="mt-3">
        <button class="btn btn-outline-danger btn-sm" (click)="goTrailer()">{{cinema ?
           'Trailer' : 'Cinema'}}</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="" *ngIf="cinema">
    <div class="row px-5 py-2" *ngIf="cinema">
      <div class="col-md-4">
        <div class="d-flex">
          <h5 class="fs-6 mb-3 me-3"> <i class="bi bi-buildings me-1"></i>Cinema : </h5>
          <h5 class="fs-6"> {{cinemaData?.cinemaname}} </h5>
        </div>
        <div class="d-flex">
          <p class="me-3 fs-6"><i class="bi bi-geo-alt-fill me-1"></i> Location : </p>
          <p class="fs-6"> {{cinemaData?.location}} </p>
        </div>
        <div class="d-flex">
          <p class="me-3 fs-6"><i class="bi bi-camera-reels-fill"></i> Theater : </p>
          <p class="fs-6">{{theaterData?.theaterName}}</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="d-flex">
          <a routerLink="/anonymous/bookingseat" [queryParams]="{id: movieDetails?.theaterData}" routerLinkActive="active" class="btn btn-outline-primary me-3"> {{movieDetails?.selectedTimes}} </a>
        </div>
      </div>
    </div>
    <hr>

  </div>
  <div class="row mt-5" *ngIf="!cinema">
    <div class="col-md-6">
      <div class="h-100">
        <iframe width="560" height="380" [src]="trailer" title="YouTube video player" frameborder="0"  allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <p> {{movieDetails.plot}} </p>
    </div>
  </div>



</div>
