<div class="container p-3">
  <h5 class="ms-5 mb-3"><i class="bi bi-camera-reels-fill me-2 text-danger"></i>Add Theater Form</h5>
  <form class="mt-3 mx-5 my-3" [formGroup]="theaterForm" (ngSubmit)="onSubmit()">

    <div class="d-flex">
      <app-form-group [valid]="theaterForm.get('theaterName')!.valid" label="Theater Name" class="me-3">
        <input type="text" class="form-control" id="theaterName" formControlName="theaterName">
      </app-form-group>

      <app-form-group [valid]="theaterForm.get('soundSystem')!.valid" label="Sound System">
        <input type="text" class="form-control" id="soundSystem" formControlName="soundSystem">
      </app-form-group>
    </div>

    <div formArrayName="seatLevels" id="seatAndlevel">
      <div class="d-flex mb-3" *ngFor="let seatLevel of seatLevels.controls; let i = index" [formGroupName]="i">
        <div class="me-2" id="selectbox">
          <label for="level">Seat Level:</label>
          <select class="form-select" formControlName="level">
            <option value="" selected>Seat Level :</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
          </select>
        </div>

        <div>
          <label for="quantity">Seat Quantity:</label>
          <input class="form-control me-2" type="number" id="quantity" formControlName="quantity" placeholder="Enter quantity">
        </div>

        <div>
          <label for="price">Seat Price:</label>
          <input class="form-control me-2" type="number" id="price" formControlName="price" placeholder="Enter Price">
        </div>

        <button type="button" id="inner" class="btn btn-outline-danger align-self-end" (click)="removeSeatLevel(i)"><i
            class="bi bi-trash3"></i></button>
      </div>
      <button type="button" class="btn btn-outline-primary btn-sm " (click)="addSeatLevel()">Add
        Seat</button>
    </div>

    <!-- <div class="mb-3">
      <label for="theaterType" class="form-label">Time</label>
      <div formArrayName="selectedTimes" >
        <div class="d-flex" *ngFor="let timeGroup of selectedTimes.controls; let i = index" [formGroupName]="i">
          <input class="form-control me-2" type="time" formControlName="time">
          <button class="btn btn-outline-danger" id="inner" (click)="removeTime(i)"><i
            class="bi bi-trash3"></i></button>
        </div>
      </div>

      <div class="  mt-3">
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="addTime()">Add Time</button>
      </div>
    </div> -->

    <div class="my-3">
      <label for="subject" class="form-label">Theater Type</label>
      <div class="d-flex">
        <div class="form-check me-3">
          <input class="form-check-input" type="radio" value="2D" formControlName="theaterType" id="theaterType1"
            checked>
          <label class="form-check-label" for="theaterType1">
            2D
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" value="3D" formControlName="theaterType" id="theaterType2">
          <label class="form-check-label" for="theaterType2">
            3D
          </label>
        </div>
      </div>
    </div>

    <div class="d-flex float-end mb-4">
      <button class="btn btn-outline-danger me-3" mat-dialog-close="false">Cancel</button>
    <button type="submit" [class.disable]="!theaterForm.valid" class="btn btn-outline-success float-end">{{data ?
      'Update' : 'Save'}} </button>
    </div>
  </form>

</div>


<!-- Time -->
<!--
  <div>
    <label for="selectedTime">Select Time:</label>
    <select id="selectedTime" formControlName="selectedTime">
      <option value="">-- Select Time --</option>
      <option *ngFor="let timeOption of timeOptions" [value]="timeOption">{{ timeOption }}</option>
    </select>
  </div>

</form> -->
