<div class="container-fluid" id="carousel" >
  <div  class="carousel slide" id="carouselExample" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active"  data-bs-interval="2000">
        <img src="../../../assets/images/1.jpg" class="d-block w-100 object-fit-fill" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/black-banner.png" class="d-block w-100 object-fit-fill" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/ww.jpg" class="d-block w-100 object-fit-fill" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between">
      <h3 class="fw-bold text-uppercase fs-4 mb-3 ms-4">Now Showing</h3>
      <input type="text" class="float-end" placeholder="Search Movie Name" [(ngModel)]="enterSearchValue">
    </div>
    <div class="col-md-2 mb-2 text-center" *ngFor="let item of nowShowingData">
      <div *ngIf="enterSearchValue === '' || item.title.toLowerCase().includes(enterSearchValue) ">
        <img src="{{item.poster}}" (click)="movieDetail(item.id)" class="shadow-lg" alt="Movie Poster">
        <h5 class="fs-6 mt-2"> {{item.title}}</h5>
      </div>
    </div>


  </div>
  <div class="row mt-5">
    <div class="d-flex justify-content-between">
      <h3 class="fw-bold text-uppercase fs-4 mb-3 ms-4">UpComing</h3>
      <input type="text" class="float-end" placeholder="Search Movie Name">
    </div>
    <div class="col-md-2 mb-2 text-center" *ngFor="let item of upcomingData">
      <img src="{{item.poster}}" (click)="upcomingDetail(item.id)" class="shadow-lg" alt="Movie Poster">
      <h5 class="fs-6 mt-2"> {{item.upcomingname}} </h5>
    </div>
  </div>
</div>
