<div class="container p-3">
  <h5 class="ms-5 mb-3"><i class="bi bi-pencil me-2 text-danger"></i>Add Staff</h5>
  <form class="mt-3 mx-5 my-3" [formGroup]="staffForm" (submit)="onSubmit()">

    <div class="d-flex">
      <app-form-group [valid]="staffForm.get('staffName')!.valid" label="Staff Name" class="me-3">
        <input type="text" class="form-control" id="staffName" formControlName="staffName">
      </app-form-group>

      <app-form-group [valid]="staffForm.get('phoneNumber')!.valid" label="Phone">
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
      </app-form-group>
    </div>

    <div class="d-flex">
      <app-form-group [valid]="staffForm.get('email')!.valid" label="Email" class="me-3">
        <input type="text" class="form-control" id="email" formControlName="email">
      </app-form-group>


      <app-form-group [valid]="staffForm.get('userName')!.valid" label="UserName">
        <input type="text" class="form-control" id="userName" formControlName="userName">
      </app-form-group>
    </div>

    <app-form-group [valid]="staffForm.get('password')!.valid" label="Password">
      <input type="password" class="form-control" id="password" formControlName="password" autocomplete="false">
    </app-form-group>

    <div class="d-flex float-end mb-4">
      <button class="btn btn-outline-danger me-3" mat-dialog-close="false">Cancel</button>
    <button type="submit" [class.disable]="!staffForm.valid" class="btn btn-outline-success float-end">{{data ?
      'Update' : 'Save'}} </button>
    </div>

  </form>

</div>
