<form class="mt-3 mx-5 my-3" [formGroup]="staffForm" (submit)="onSubmit()">

  <app-form-group [valid]="staffForm.get('staffName')!.valid" label="Staff Name">
    <input type="text" class="form-control" id="staffName" formControlName="staffName">
  </app-form-group>

  <app-form-group [valid]="staffForm.get('phoneNumber')!.valid" label="Phone">
    <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
  </app-form-group>

  <app-form-group [valid]="staffForm.get('email')!.valid" label="Email">
    <input type="text" class="form-control" id="email" formControlName="email">
  </app-form-group>


  <app-form-group [valid]="staffForm.get('username')!.valid" label="UserName">
    <input type="text" class="form-control" id="username" formControlName="username">
  </app-form-group>

  <app-form-group [valid]="staffForm.get('password')!.valid" label="Password">
    <input type="password" class="form-control" id="password" formControlName="password" autocomplete="false">
  </app-form-group>

  <button class="btn btn-outline-danger" mat-dialog-close="false">Cancel</button>
  <button type="submit" [class.disabled]="!staffForm.valid" class="btn btn-outline-success float-end">Save</button>
</form>
