<div id="root">
  <div class="container mt-3 ">
    <div class="row">
      <div class="col-md-10 offset-1">
        <div class="d-flex justify-content-between mb-3">
          <h3 class="text-uppercase fw-bold">Branch Manager List</h3>
        </div>
        <input type="text" id="search" class="mb-2  w-100" placeholder="Search Cinema" [(ngModel)]="enterSearchValue">
        <table class="table table-hover shadow-lg">
          <thead class="table-primary">
            <tr>
              <th>#</th>
              <th>Branch Manager</th>
              <th>Password</th>
              <th>Cinema Name</th>
            </tr>
          </thead>

          <tbody *ngFor="let item of cinemaList">
            <tr (click)="branchManager()"
              *ngIf="enterSearchValue === '' || item.bmName.toLowerCase().includes(enterSearchValue) ">
              <td> {{item.id}} </td>
              <td> {{item.bmName}} </td>
              <td> {{item.bmPassword}} </td>
              <td> {{item.cinemaname}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
