<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="fw-bold">{{theater?.theaterName}}</h4>

      <div class="mt-3" *ngFor="let row of theater?.seatLevels">
        <span class="fw-bold me-3">{{row?.level}}</span>
        <button id="{{row?.level}}seat{{no}}" type="button" *ngFor="let seat of row.seats; index as no"
          (click)="selectSeat(seat.name, row.price)" style="width: 40px;" class="me-1"
          [ngClass]="seat?.state == 'Available' ? 'btn btn-outline-primary' : 'btn btn-secondary disabled'"
          data-bs-toggle="button">{{no + 1}}</button>
      </div>
    </div>

    <div class="col-4">

      <div class="card">
        <div class="card-header">
          <h5>Seats</h5>
        </div>
        <div class="card-body">
          <div class="row mb-2" *ngFor="let seat of selectedSeats">
            <p class="col">{{seat.name}}</p>
            <p class="col-3">{{seat.price | number }}</p>
            <i class="text-danger btn btn-link col-2 bi bi-trash" (click)="deselect(seat, true)"></i>
          </div>
          <div class="row border-top border-danger" *ngIf="total">
            <p class="col">Total</p>
            <p class="col-3 text-end" *ngIf="total">{{total | number}}</p>
            <span class="col-2 mx-2"></span>
          </div>
        </div>
        <div class="card-footer text-end">
          <button (click)="goToPayment()" class="btn btn-outline-danger btn-sm">Purchase</button>
        </div>
      </div>

    </div>

  </div>
</div>
