<div class="vh-100 d-flex justify-content-center align-items-center" id="login">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-5">
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <form class="mb-3" [formGroup]="loginForm" (submit)="onSubmit()">
              <h2 class="fw-bold  text-uppercase ">Cinema</h2>
              <p class=" mb-5">Please enter your username and password!</p>

              <app-form-group [valid]="loginForm.get('username')!.valid" label="User Name">
                <input type="text" class="form-control" formControlName="username" id="username">
              </app-form-group>

              <app-form-group [valid]="loginForm.get('password')!.valid" label="Password">
                <input type="password" class="form-control" formControlName="password" id="password">
              </app-form-group>

              <div class="float-end my-2">
                <button type="submit" [class.disabled]="!loginForm.valid"  class="btn btn-outline-dark" >Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
