<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card bg-white">
          <div class="card-body p-5">
            <form class="mb-3 mt-md-4" [formGroup]="loginForm" (submit)="onSubmit()">
              <h2 class="fw-bold mb-2 text-uppercase ">Cinema</h2>
              <p class=" mb-5">Please enter your login and password!</p>

              <app-form-group [valid]="loginForm.get('email')!.valid" label="Email Address">
                <input type="text" class="form-control" formControlName="email" id="email" placeholder="name@example.com">
              </app-form-group>

              <app-form-group [valid]="loginForm.get('password')!.valid" label="Password">
                <input type="password" class="form-control" formControlName="password" id="password" placeholder="*******">
              </app-form-group>

              <p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p>
              <div class="d-grid">
                <button type="submit"  class="btn btn-outline-dark" >Login</button>
              </div>
            </form>
            <div>
              <p class="mb-0  text-center">Don't have an account? <a href="signup.html" class="text-primary fw-bold">Sign
                  Up</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
